'scopeName': 'source.nearley'
'fileTypes': [
  'ne'
]
'name': 'Nearley Grammar'
'patterns': [
  {
    'include': '#line_comments'
  }
  {
    'include': '#setup'
  }
  {
    'include': '#rule'
  }
]
'repository':

  'rule':
    'patterns': [
      {
        'match': '([\\w\\?\\+]+) *([-=]+>) *'
        'captures':
          '1': 'name': 'entity.name.variable.other.nearley'
          '2': 'name': 'punctuation.keyword.operator.nearley'
      }
      {'include': '#fullExpression'}
      {
        'match': '\\|'
        'name': 'punctuation.keyword.operator.nearley'
      }
    ]


  'fullExpression':
    'patterns': [
      {'include': '#expression'},
      {'include': '#postprocessor'}
    ]

  'expression':
    'patterns': [
      {'include': '#expression_part'}
      {
        'match': '\\:[\\+\\*\\?]'
        'name': 'keyword.operator.nearley'
      }
    ]

  'expression_part':
    'patterns': [
      {
        'match': '[\\w\\?\\+]+'
      }
      {'include': '#strings'}
      {'include': '#char_class'}
      {
        'begin': '\\('
        'beginCaptures': '0': 'name': 'meta.brace.round.nearley'
        'end': '\\)'
        'endCaptures': '0': 'name': 'meta.brace.round.nearley'
        'patterns': [
          {'include': '#expression'}
        ]
      }
    ]

  'postprocessor':
    'begin': '\{\%',
    'beginCaptures': '0': 'name': 'punctuation.keyword.operator.section.embedded.begin.js'
    'end': '\%\}'
    'endCaptures': '0': 'name': 'punctuation.keyword.operator.section.embedded.end.js'
    'patterns': [
      {
        'include': 'source.js'
      }
    ]

  'setup':
    'begin': '\@\{\%',
    'beginCaptures': '0': 'name': 'punctuation.keyword.operator.section.embedded.begin.js'
    'end': '\%\}'
    'endCaptures': '0': 'name': 'punctuation.keyword.operator.section.embedded.end.js'
    'patterns': [
      {
        'include': 'source.js'
      }
    ]

  'strings':
    'patterns': [
      {
        'begin': '"'
        'beginCaptures': '0': 'name': 'punctuation.definition.string.begin.js'
        'end': '"'
        'endCaptures': '0': 'name': 'punctuation.definition.string.end.js'
        'name': 'string.quoted.double.js'
        'patterns': [
          {
            'include': '#string_escapes'
          }
          {
            'match': '[^"]*$'
            'name': 'invalid.illegal.string.js'
          }
        ]
      }
    ]

  'string_escapes':
    'patterns': [
      {
        'match': '\\\\u(?![A-Fa-f0-9]{4}|{[A-Fa-f0-9]+})[^\'"]*'
        'name': 'invalid.illegal.unicode-escape.js'
      }
      {
        'match': '\\\\u(?:[A-Fa-f0-9]{4})'
        'name': 'constant.character.escape.js'
      }
      {
        'match': '\\\\["\'\\\\/bfnrt]'
        'name': 'constant.character.escape.js'
      }
    ]

  'char_class':
    'begin': '\\['
    'beginCaptures': '0': 'name': 'punctuation.definition.character-class.regexp'
    'contentName': 'constant.character.character-class.regexp'
    'end': '\\]'
    'endCaptures': '0': 'name': 'punctuation.definition.character-class.regexp'
    'patterns': [
      {
        'match': '\\^?[\\-\\]]?([^\\^\\-\\]\\\\]|\\\\.)*'
      }
    ]

  'line_comments':
    'begin': '(^[ \\t]+)?(?=\\#)'
    'beginCaptures': '1': 'name': 'punctuation.whitespace.comment.leading.js'
    'end': '(?!\\G)'
    'patterns': [
      {
        'begin': '#'
        'beginCaptures': '0': 'name': 'punctuation.definition.comment.js'
        'end': '\\n'
        'name': 'comment.line.double-slash.js'
      }
    ]
